- recipes.each do |recipe|
  == render 'recipes/recipe_card', recipe: recipe

javascript:
  $(document).ready(function() {
    $(".openbtn1").on("click", function(){//ボタンがクリックされたら
      $(this).toggleClass('active');//ボタン自身に activeクラスを付与し
      $(this).siblings('.recipe_edit').toggleClass('editactive');//ナビゲーションにpanelactiveクラスを付与
      var $closepanel = $('<div>', {class: 'closepanel' });
      $(this).parent().append($closepanel);
    });
    $(document).on('click', '.closepanel, .recipe_edit li', function() {
      $(".openbtn1").removeClass('active');//ボタンの activeクラスを除去し
      $(".recipe_edit").removeClass('editactive');//ナビゲーションのpanelactiveクラスも除去
      $(".closepanel").remove();
    });
  });
