.container_recipe {
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  justify-content: start;
  align-items: center;
  .container{
    margin: 0;
    width: 100%;
  }
  .card {
    width: 100%;
    height: min-content;
    border-bottom: 1px solid rgb(239, 243, 244);
    padding: 2%;
    border-radius: 0;
    flex-direction: row;
    display: flex;
    .left {
      display: flex;
      align-items: center;
      flex-basis: 48px;
      align-items: flex-start;
      .profile_image {
        width: 48px;
        height: 48px;
      }
      .user_name {
        font-size: 30px;
        margin-left: 20px;
      }
    }
    .right{
      width: 100%;
      .recipe_img {
        margin-top: 20px;  
        display: block;
        .image {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
    .top{
      display: flex;
      justify-content: space-between;
    }
    .recipe_reaction{
      display: flex;
      align-items: center;
      .button_to{
        width: min-content;
        margin: 0;
      }
      .count{
        padding: 0 15px;
      }
      button{
        width: max-content;
        background-color: white;
        border-color: white;
        border-width: 0;
      }
    }
  }
}