.users_index{
  .users{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    height: 100vh;
    border-color: black;
    border-left: 2px solid #333;
    border-right: 2px solid #333;
  }
  .card_user{
    width: 100%;
    padding: 2%;
    display: flex;
    .image{
      flex: 1;
      margin-right: 10px;
    }
    .profile{
      flex: 9;
    }
    .user_name{
      font-size: 25px;
    }
    .recipe_count{
      margin-top: 10px;
      font-size: 15px;
    }
  }
  .follow-now{
    width: 100px;
  }
}