.popup{
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  height: min-content;
  .users_index{
    overflow: scroll;
  }
}
.back_button{
  z-index: 8;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vmax;
  background-color:rgba($color: #F4F5F7, $alpha: .8)
}
.back{
  z-index: 5;
  .page_title{
    margin-top: 0;
  }
}