.search_container{
  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: left;
  .search_back{
    padding: 10px;
  }
  .search_box{
    width: 70%;
    padding: 5px;
    align-items: center;
    form{
      width: 100%;
      border-radius: 30px;
      padding-right: 15px;
      background-color: rgb(239, 243, 244);
      flex-direction: row;
      display: flex;
      align-items: center;
      justify-content: left;
      margin: 0;
      input{
        background-color: rgb(239, 243, 244);
        border: 0px;
      }
    }
  }
  .search_svg{
    width: 16px;
    height: 16px;
    margin: 0 10px;
  }
}