.recommended-recipe,.recommended-user{
  margin-bottom: 20px;
  border-radius: 15px;
  background-color: rgb(247, 249, 249);
  h2{
    color: #0f1419;
    padding: 12px 16px;
    font-size: 20px;
  }
}
.recommended-recipe{
  .hashtag{
    a{
      color: #0f1419;
      font-size: 15px;
      text-decoration: none;
    }
  }
  .trend{
    padding: 12px 16px;
    .count{
      font-size: 13px;
    }
  }
  .trend:hover{
    background-color: rgba(0, 0, 0, 0.03);
  }
}
