.recommended-recipe,.recommended-user{
  border : solid 1px #333;
  margin-bottom: 20px;
  border-radius: 15px;
  padding: .7rem;
  h2{
    margin-bottom: .5rem;
    font-size: 20px;
  }
}
.recommended-recipe{
  .hashtag{
    a{
      color: rgb(15, 20, 25);
      font-size: 15px;
      text-decoration: none;
    }
  }
  .trend{
    padding: 10px 0;
    .count{
      color: rgb(83, 100, 113);
      font-size: 13px;
    }
  }
}
